 {% extends 'template.html.twig' %} 
 {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col s12 m12 l6 xl6">
            <div class="card">
                <div class="row">
                    <div class="col s12 m4 l4 xl4">
                        <div class="card-image">
                            <img src="https://images.caradisiac.com/logos-ref/modele/modele--alfa-romeo-stelvio/S0-modele--alfa-romeo-stelvio.jpg" alt="..." width="" height="" class="avatar img-responsive">
                        </div>
                    </div>
                    <div class="col s12 m8 l8 xl8">
                        <div>
                            <div class="card-content">
                                <span class="card-title">ALPHA-ROMEO</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et odio tempore sapiente, nulla debitis ad voluptatum neque, laudantium libero ipsam possimus qui sint quo eveniet. Minus aliquid dignissimos, alias at?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                                <th>Marque :</th>
                                <td>ALPHA-ROMEO</td>
                            </tr>
                            <tr>
                                <th>Désignation commerciale :</th>
                                <td>159 1750 Tbi (200ch)</td>
                            </tr>
                            <tr>
                                <th>Technologie (Essence, Hybride) :</th>
                                <td>ES</td>
                            </tr>
                            <tr>
                                <th>Puissance admin :</th>
                                <td>12</td>
                            </tr>
                            <tr>
                                <th>Type de boîte :</th>
                                <td>M 6</td>
                            </tr>
                            <tr>
                                <th>Consommation urbaine :</th>
                                <td>11.3</td>
                            </tr>
                            <tr>
                                <th>Consommation non-urbaine :</th>
                                <td>5.8</td>
                            </tr>
                            <tr>
                                <th>Consommation mixte :</th>
                                <td>7.8</td>
                            </tr>
                            <tr>
                                <th>Classe Energie (A, B, etc) :</th>
                                <td>E</td>
                            </tr>
                            <tr>
                                <th>CO² g/km :</th>
                                <td>182</td>
                            </tr>
                            <tr>
                                <th>Bonus / Malus :</th>
                                <td>- 7613 €</td>
                            </tr>
                            <tr>
                                <th>Carrosserie :</th>
                                <td>BERLINE</td>
                            </tr>
                            <tr>
                                <th>Gamme :</th>
                                <td>MOY-SUPER</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6 xl6">
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste maxime facilis soluta assumenda debitis minima vitae nisi, explicabo suscipit incidunt repudiandae porro amet voluptatibus voluptate odit perspiciatis tempore repellendus! Aliquam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos rem saepe tempora vitae similique. Culpa saepe a fuga autem aperiam quam magnam perspiciatis libero minima veritatis, expedita similique adipisci cum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quae omnis distinctio corporis ea expedita fugiat voluptatem maxime fuga pariatur, minima unde quas, recusandae accusantium vero, odit est quaerat delectus.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis in voluptate quidem quas velit, adipisci, autem, officiis laudantium deleniti minus ipsam possimus totam culpa impedit magnam rerum consectetur molestias. Tempora.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis maxime vel tenetur unde, explicabo sunt quod nulla, ratione similique, harum doloribus quisquam facere labore natus distinctio fugit officiis iste earum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus recusandae velit libero doloribus officia non id minima provident quam adipisci possimus eaque totam voluptatum placeat, illum nisi! Accusamus deleniti, illum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
